
<style type="text/css">
    h1{
        text-align: center;
    }
    .main{
        width: 30rem;
        margin: 5rem auto;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
    }
</style>

<h1>Войти в панель управления</h1>
<div class="main">
   
    <div class="userInfo" style="display:none;">
        <p>Вы вошли как: <span class="userName"></span></p>
        <input type="button" value="Выйти" id="logOut" />
    </div>

    <form class="loginForm">
        <div class="form-group">
            <label for="emailLogin">Введите логин</label>
            <input type="text" class="form-control" id="emailLogin" aria-describedby="emailHelp" placeholder="login">
            <small id="emailHelp" class="form-text text-muted">Если ты не администратор, то уходи</small>
        </div>
        <div class="form-group">
            <label for="passwordLogin">Пароль</label>
            <input type="password" class="form-control" id="passwordLogin" placeholder="Password">
        </div>
        <div class="buttons" >
            <button type="submit" class="btn btn-primary" id="submitLogin">Войти</button>
            <a class="btn btn-primary" href="/Home/Initial">Инициализировать</a>
        </div>
    </form>
</div>